@import "tailwindcss";

@layer base {
  body {
    @apply text-[#e4e4f0] antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://fonts.gstatic.com/s/jetbrainsmono/v18/t6nu27PSq1ndS2760h62UMhfHgmX6K1u2yA.woff2') format('woff2');
}
